.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
}
.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #0b69ff;
  font-weight: bold;
}
.para {
  font-size: 20px;
  font-family: 'Roboto';
  color: #333333;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 7px;
}
.count {
  font-size: 30px;
  font-family: 'Roboto';
  color: #0b69ff;
  font-weight: bold;
}
